body{
    background-color: white;
}


/*Borde Caja*/
form {
    margin-left: 20%;
    margin-right: 20%;
  }
  
  /*Cajas de texto*/
  input[type=text], input[type=password] {
    width: 732px;
    padding: 12px 20px;
    margin:0;
    margin-left:10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /*Etiquetas Correo y Contraseña*/
  label[for="uname"],label[for="psw"]{
    margin: 10px;
    color:white;
  }

  /*Boton de Acceso*/
  button {
    background-color: #2b4d7b;
    color: white;
    padding: 14px 20px;
    margin-left:10px;
    margin-right:auto;
    margin-top:20px;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /*Contenedor de la imagen*/
  .imgcontainer {
    text-align: center;
    margin: 10px 0 10px 0;
  }
  
  /* Imagen */
  img.avatar {
    width: 30%;
    border-radius: 50%;
  }
  
  /* Add padding to container */
  .container {
    padding: 16px;
    background:red;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 30px;
    margin-bottom:20px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
  }

  title {
    text-align:center;
  }